.container1{
  background-color: antiquewhite !important;
  width: 30%;
  height: 100vh;
  padding-top: 5rem;
  display: flex;
  align-items: center;
}
.btn {
  margin-left: 5px;
  background-color: lightblue;
}
.inputcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}