.background{
  background-color: burlywood;
  width: 50%;
  margin-top: 15rem;
}
.heading {
  text-align: center;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  background-image: url("C:\Users\Anitha Reddy\Documents\React-Projects\todo-app\todolist\public\assets\blue.jpeg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}